# Server-only Appwrite runtime variables
APPWRITE_ENDPOINT="https://cloud.appwrite.io/v1"
APPWRITE_ENDPOINT_PUBLIC=""
APPWRITE_PROJECT_ID=""
APPWRITE_API_KEY=""
APPWRITE_DATABASE_ID=""
APPWRITE_CURATOR_TEAM_ID=""
