@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: #1c1c22;
    --color-accent: #67be9b;
    --color-accent-hover: #95d0b8;
    --font-jetbrains-mono: 'JetBrains Mono', serif;
  }

  body {
    @apply font-primary bg-primary text-white leading-loose
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold
  }

  .h2 {
    @apply text-[32px] xl:text-[48px] leading-[1.1] font-semibold
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold
  }

  .text-outline {
    -webkit-text-stroke: 1px #fff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px var(--color-accent);
  }
}